NEXT_PUBLIC_CHAIN_NAME=Local Cosmos
NEXT_PUBLIC_CHAIN_ID=localosmosis
NEXT_PUBLIC_RPC_ENDPOINT=http://127.0.0.1:26657
NEXT_PUBLIC_REST_ENDPOINT=http://127.0.0.1:1317
NEXT_PUBLIC_CONTRACT_ADDRESS=cosmos1replace
NEXT_PUBLIC_STAKE_DENOM=ucosm
NEXT_PUBLIC_ADDRESS_PREFIX=cosmos
